<div class="alert-box">
    <p class="alert"></p>
</div>

<div class="form">
    <h1 class="heading">Login</h1>
    <input type="text" placeholder="email" class="email" required>
    <input type="password" placeholder="password" class="password" required>
    <button class="submit-btn">Login</button>
    <a href="/register" class="link">Don't have an account ? Create one here</a>
</div>
