<div class="alert-box">
    <p class="alert"></p>
</div>

<div class="form">
    <h1 class="heading">Register</h1>
    <input type="text" placeholder="Name" class="name" required>
    <input type="text" placeholder="Email" class="email" required>
    <input type="text" placeholder="Password" class="password" required>
    <button class="submit-btn">register</button>
    <a href="/login" class="link">already have an account ? log in here</a>
</div>
